.toolbar {
    width: 140px;
    list-style-tyle: none;
    border: 1px solid transparent;
    display: block; 
    margin: 0 0 50px 0;
}
.toolbar-item {
    display: block;
    padding: 3px;
    border: 1px solid #000;
    cursor: pointer;
}

.drop-zone {
    max-width: 600px;
    min-height: 50px;
    border: 1px solid #000;
    margin: 50px;
}

.component {
    border: 1px solid green;
}