* {
    box-sizing: border-box;
}

body {
    background: #898686;
}

.section {
    padding: 16px;
    width: 55%;
    margin: 0 auto;
    background: #BEBBBB;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.rounded {
    border-radius: 3px;
}

.column {
    padding: 10px;
    width: 48%;
    background: rgba(0, 0, 0, .2);
    min-height: 500px;
}

.side-left {
    float: left;
}
.side-right {
    float: right;
}

.container1, .container2, .container1-1 {
    padding: 10px;
    border: 1px solid #fff;
    height: 800px;
}

.container1-1 {
    height: 500px;
}

.container-content-item {
    background: #ccc;
    padding: 5px;
    margin: 10px 0;
}